$date-picker-cell-size: 40px !default;
$date-picker-title-size: 150px !default;
$date-picker-footer-size: 50px !default;
$date-picker-background: rgb(224, 224, 224) !default;
$date-picker-cell-hover-color: rgba(#221818, 0.81) !default;
$date-picker-cell-hover-background: rgba(#ffffff, 0.44) !default;
$date-picker-cell-selected-background: rgba(#ffffff, 0.43) !default;
$date-picker-cell-selected-color: rgb(255, 29, 29) !default;
$date-picker-cell-selected-hover-color: rgb(249, 26, 26) !default;
$date-picker-title-bar-background: rgb(210, 53, 53) !default;
$date-picker-title-bar-color: rgb(255, 255, 255) !default;
$date-picker-footer-bar-background: rgb(210, 53, 53) !default;
$date-picker-footer-bar-color: rgb(255, 255, 255) !default;
$date-picker-gutter-width: 16px !default;
$date-picker-cell-disabled-color: rgb(125, 125, 125) !default;
$date-picker-cell-disabled-background: transparent !default;
$date-picker-button-color: rgb(255, 255, 255);
$date-picker-day-name-cell-height: 30px;

.date-picker{
  box-shadow: 0px 0px 100px 0px rgba(0,0,0,0.2);
  background-color: $date-picker-background;

  .date-picker-title{
    color: $date-picker-title-bar-color;
    background-color: $date-picker-title-bar-background;
  }

  .date-picker-footer{
    height: $date-picker-footer-size;
    color: $date-picker-footer-bar-color;
    background-color: $date-picker-footer-bar-background;
  }

  .date-picker-flex{
    flex: 1;
  }

  .date-picker-row{
    display: flex;
    flex-direction: row;
  }

  .date-picker-flex{
    flex: 1;
  }

  .date-picker-calendar{
    &.ng-animate{
      transform: translate3d(0, 0, 0);
      transition: 0.3s;
      transition-timing-function: ease-in-out;
    }
    &.ng-enter{
      opacity: 0;
    }

    &.ng-enter-active{
      opacity: 1;
    }

    &.ng-leave{
      opacity: 1;
    }

    &.ng-leave-active{
      opacity: 0;
    }
  }

  .picker-direction-forward{
    .date-picker-calendar{
      &.ng-enter{
        transform: translate3d(0, 100%, 0);
      }

      &.ng-enter-active{
        transform: translate3d(0, 0, 0);
      }

      &.ng-leave{
        transform: translate3d(0, 0, 0);
      }

      &.ng-leave-active{
        transform: translate3d(0, -100%, 0);
      }
    }
  }
  .picker-direction-back{
    .date-picker-calendar{
      &.ng-enter{
        transform: translate3d(0, -100%, 0);
      }

      &.ng-enter-active{
        transform: translate3d(0, 0, 0);
      }

      &.ng-leave{
        transform: translate3d(0, 0, 0);
      }

      &.ng-leave-active{
        transform: translate3d(0, 100%, 0);
      }
    }
  }

  .date-picker-cells-wrapper{
    position: relative;
    overflow: hidden;
    padding: $date-picker-gutter-width/2;


    height: 6 * $date-picker-cell-size + $date-picker-day-name-cell-height;
    width: 7 * $date-picker-cell-size;


    .date-picker-calendar{
      position: absolute;
      top: $date-picker-gutter-width/2;
      left: $date-picker-gutter-width/2;
      bottom: $date-picker-gutter-width/2;
      right: $date-picker-gutter-width/2;

      display: flex;
      justify-content: center;
      flex-direction: column;

    }
  }

  .date-picker-display{
    font-size: 26pt;
    font-weight: 200;
    text-align: center;
    margin: 0;
    line-height: $date-picker-title-size;
  }

  .date-picker-button{
    outline: none;
    border: none;
    margin: 0;
    padding: $date-picker-gutter-width / 2 $date-picker-gutter-width;
    background-color: transparent;
    min-width: $date-picker-cell-size;
    transition: 0.1s;
    transition-timing-function: ease-out;
    cursor: pointer;
    color: $date-picker-button-color;

    &.date-picker-button-full{
      width: 100%;
    }

    &:hover{
      background-color: rgba(255,255,255,0.2);
    }
  }

  .date-picker-cell-row{
    flex-direction: row;
  }

  .date-picker-cell{
    display: inline-block;
    width: $date-picker-cell-size;
    height: $date-picker-cell-size;
    line-height: $date-picker-cell-size;
    text-align: center;
    vertical-align: top;
    transition: 0.1s;
    transition-timing-function: ease-out;
    cursor: pointer;
    border-radius: 50%;

    &:hover:not(.date-picker-cell-disabled){
      background-color: $date-picker-cell-hover-background;
      color: $date-picker-cell-hover-color;
    }

    &.date-picker-cell-selected{
      box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
      color: $date-picker-cell-selected-color;
      background-color: $date-picker-cell-selected-background;

      &:hover{
        color: $date-picker-cell-selected-hover-color;
      }
    }

    &.date-picker-cell-another-month{
      color: $date-picker-cell-disabled-color;
      background-color: $date-picker-cell-disabled-background;
    }
    &.date-picker-cell-disabled{
      color: $date-picker-cell-disabled-color;
      background-color: $date-picker-cell-disabled-background;
    }
  }

  .date-picker-container{
    transition: 0.3s;
    transition-timing-function: ease-out;
    max-height: 8 * $date-picker-cell-size;
    overflow: hidden;

    &.date-picker-content-hidden{
      max-height: 0px;
    }
  }


  .date-picker-day-names{
    display: flex;
    font-size: 10pt;
    opacity: 0.5;

    .date-picker-day-name-cell{
      flex: 1;
      text-align: center;
      line-height: $date-picker-day-name-cell-height;
    }
  }

}
