$picker-cell-size: 40px !default;
$picker-title-size: 150px !default;
$picker-footer-size: 50px !default;
$picker-background: rgb(224, 224, 224) !default;
$picker-cell-hover-color: rgba(#221818, 0.81) !default;
$picker-cell-hover-background: rgba(#ffffff, 0.44) !default;
$picker-cell-selected-background: rgba(#ffffff, 0.43) !default;
$picker-cell-selected-color: rgb(255, 29, 29) !default;
$picker-cell-selected-hover-color: rgb(249, 26, 26) !default;
$picker-title-bar-background: rgb(210, 53, 53) !default;
$picker-title-bar-color: rgb(255, 255, 255) !default;
$picker-footer-bar-background: rgb(210, 53, 53) !default;
$picker-footer-bar-color: rgb(255, 255, 255) !default;
$picker-gutter-width: 16px !default;
$picker-cell-disabled-color: rgba(125, 125, 125, 0.56) !default;
$picker-cell-disabled-background: transparent !default;
$picker-button-color: rgb(255, 255, 255) !default;
$picker-button-primary-color: rgb(255, 255, 255) !default;
$picker-button-primary-background: $picker-title-bar-background !default;
$picker-day-name-cell-height: 30px !default;

.picker-container{
  width: 300px;
  min-width: 300px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: $picker-background;
  box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.2);
  position: relative;
  overflow: hidden;

  *{
    box-sizing: border-box;
  }

  .picker-title{

    color: $picker-title-bar-color;
    background-color: $picker-title-bar-background;
    height: $picker-title-size;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .picker-footer{
    display: flex;
    flex-direction: row;
    height: $picker-footer-size;
    color: $picker-footer-bar-color;
    background-color: $picker-footer-bar-background;
  }

  .picker-subtitle{
    font-size: 10pt;
    opacity: 0.7;
    padding: $picker-gutter-width/2;
  }

  .picker-display{
    font-size: 22pt;
    font-weight: 100;
    text-align: center;
    margin: 0;
  }

  .picker-row{
    display: flex;
    flex-direction: row;
  }

  .picker-flex{
    flex: 1 0 auto;
  }

  .picker-column{
    display: flex;
    flex-direction: column;
  }

  .picker-content{
    padding: $picker-gutter-width;
  }


  .picker-table{
    display: flex;
    flex-direction: column;
  }

  .picker-table-row{
    display: flex;
    flex-direction: row;
    max-width: 100%;
    overflow: hidden;
    justify-content: space-between;
    padding-top: 2px;
    padding-bottom: 2px;
  }

  .picker-table-header{
    .picker-table-cell{
      font-size: 10pt;
      opacity: 0.5;
      height: $picker-day-name-cell-height;
    }
  }

  .picker-table-cell{
    position: relative;
    transition: 0.1s;
    transition-timing-function: ease-out;
    cursor: pointer;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    width: $picker-cell-size;
    height: $picker-cell-size;


     &:hover:not(.picker-table-cell-disabled){
       background-color: $picker-cell-hover-background;
       color: $picker-cell-hover-color;
     }

     &.picker-table-cell-selected{
       box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
       color: $picker-cell-selected-color;
       background-color: $picker-cell-selected-background;

       &:hover{
         color: $picker-cell-selected-hover-color;
       }
     }

     &.picker-table-cell-secondary{
       color: $picker-cell-disabled-color;
       background-color: $picker-cell-disabled-background;
     }
     &.picker-table-cell-disabled{
       color: $picker-cell-disabled-color;
       background-color: $picker-cell-disabled-background;
     }
  }

  .picker-button{
    outline: none;
    border: none;
    margin: 0;
    padding: $picker-gutter-width / 2 $picker-gutter-width;
    background-color: transparent;
    min-width: $picker-cell-size;
    min-height: $picker-cell-size;
    transition: 0.1s;
    transition-timing-function: ease-out;
    cursor: pointer;
    color: $picker-button-color;


    &.picker-button-primary{
      color: $picker-button-primary-color;
      background-color: $picker-button-primary-background;

      &:hover, &:active, &:focus{
        color: $picker-button-primary-color;
        background-color: fade_out($picker-button-primary-background, 0.3);
      }
    }

    &.picker-button-full{
      width: 100%;
    }

    &:hover{
      background-color: rgba(255,255,255,0.2);
    }
  }
}
