$time-picker-background: rgb(182, 182, 182);

$time-picker-wheel-size: 280px;
$time-picker-wheel-step: 100px;
$time-picker-title-height: 150px;

$time-picker-title-color: rgb(255, 255, 255);
$time-picker-title-background: rgb(83, 137, 218);

$time-picker-hours-wheel-background: rgb(214, 214, 214);
$time-picker-minutes-wheel-background: rgb(231, 231, 231);

$time-picker-indicator-size: 30px;

.time-picker{
  position: absolute;
  top:50px;
  left: 500px;
  box-shadow: 0px 0px 100px 0px rgba(0,0,0,0.2);
  overflow: hidden;
  background-color: $time-picker-background;

  .time-picker-inner-container{
    position: relative;
    width: 300px;
    height: 300px;
  }

  .time-picker-title{
    color: $time-picker-title-color;
    background-color: $time-picker-title-background;
  }

  .time-picker-display{
    font-size: 40pt;
    font-weight: 200;
    text-align: center;
    margin: 0;
    line-height: $time-picker-title-height;
  }



  .time-picker-hours, .time-picker-minutes{
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;

  }

  .time-picker-hours{
    background-color: $time-picker-hours-wheel-background;
    margin-left: - ($time-picker-wheel-size - $time-picker-wheel-step) / 2;
    margin-top: - ($time-picker-wheel-size - $time-picker-wheel-step)/ 2;

    width: $time-picker-wheel-size - $time-picker-wheel-step;
    height: $time-picker-wheel-size - $time-picker-wheel-step;
    box-shadow: inset 0px 0px 20px 0px rgba(0,0,0,0.7);
  }

  .time-picker-minutes{
    margin-left: - $time-picker-wheel-size / 2;
    margin-top: - $time-picker-wheel-size / 2;
    width: $time-picker-wheel-size;
    height: $time-picker-wheel-size;
    background-color: $time-picker-minutes-wheel-background;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
  }

  .time-picker-indicator{
    position: absolute;
    top: $time-picker-wheel-step/4 - $time-picker-indicator-size/2;
    left:50%;
    margin-left: -$time-picker-indicator-size/2;
    border-radius: 50%;
    width: $time-picker-indicator-size;
    height: $time-picker-indicator-size;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
  }
}
