$time-picker-background: rgb(224, 224, 224) !default;
$time-picker-title-height: 150px !default;
$time-picker-footer-size: 50px !default;
$time-picker-title-color: rgb(255, 255, 255) !default;
$time-picker-title-background: rgb(83, 137, 218) !default;


$time-picker-footer-bar-background: $time-picker-title-background !default;
$time-picker-footer-bar-color: rgb(255, 255, 255) !default;
$time-picker-button-color: rgb(255, 255, 255);

.picker-container.time-picker{
  background-color: $time-picker-background;

  .picker-footer{
    height: $time-picker-footer-size;
    color: $time-picker-footer-bar-color;
    background-color: $time-picker-footer-bar-background;
  }

  .picker-title{
    color: $time-picker-title-color;
    background-color: $time-picker-title-background;
  }
}
