$time-picker-background: rgb(25, 98, 221);

$time-picker-wheel-size: 250px;
$time-picker-wheel-step: 70px;
$time-picker-title-height: 50px;

$time-picker-title-color: rgb(255, 255, 255);
$time-picker-title-background: rgb(83, 137, 218);

$time-picker-hours-wheel-background: rgb(76, 184, 231);
$time-picker-minutes-wheel-background: rgb(24, 22, 150);

.time-picker{
  position: absolute;
  top:0;
  left: 500px;
  box-shadow: 0px 0px 100px 0px rgba(0,0,0,0.2);

  background-color: $time-picker-background;

  .time-picker-inner-container{
    position: relative;
    width: 300px;
    height: 300px;
  }

  .time-picker-title{
    color: $time-picker-title-color;
    background-color: $time-picker-title-background;
  }

  .time-picker-display{
    font-size: 16pt;
    font-weight: 200;
    text-align: center;
    margin: 0;
    line-height: $time-picker-title-height;
  }

  .time-picker-hours, .time-picker-minutes{
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;

  }

  .time-picker-hours{
    background-color: $time-picker-hours-wheel-background;
    margin-left: - $time-picker-wheel-size / 2;
    margin-top: - $time-picker-wheel-size / 2;
    width: $time-picker-wheel-size;
    height: $time-picker-wheel-size;
  }

  .time-picker-minutes{
    background-color: $time-picker-minutes-wheel-background;
    margin-left: - ($time-picker-wheel-size - $time-picker-wheel-step) / 2;
    margin-top: - ($time-picker-wheel-size - $time-picker-wheel-step)/ 2;

    width: $time-picker-wheel-size - $time-picker-wheel-step;
    height: $time-picker-wheel-size - $time-picker-wheel-step;
  }
}
